h1 {
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  font-family: "Ingrid Darling", cursive;
}
header {
  font-size: 2rem;
  background-color: red;
}
.caja {
  width: 40%;
  background-color: yellow;
  /*
  border-width: 3px;
  border-style: solid;
  border-color: orange;
  */
  border: 3px solid orange;
  margin: 1rem;
  padding: 10px 5px 20px 8px;
  border-radius: 20px;
}
p {
  padding: 1rem;
  margin: 1rem auto;
  width: 60%;
  background-color: bisque;
  font-size: 1.4rem;
  text-align: justify;
  font-family: "Quintessential", serif;
}

footer {
  text-align: center;
  min-height: 6rem;
  background-image: url('img/quijote_y_sancho.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
footer p {
  text-align: center;
  opacity: 0.5;
}
